<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ddwucom.mobile.software_competition">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".two.ReadPostActivity"></activity>
        <activity android:name=".two.CreatePostsActivity" />
        <activity android:name=".two.AdminActivity" />
        <activity android:name=".Admin" />
        <activity android:name=".one.MapsActivity2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".one.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".one.CourierInfoActivity" />
        <activity android:name=".one.GuardHouseInfoActivity" />
        <activity android:name=".two.LoginActivity" />
        <activity android:name=".two.RegisterActivity" />
        <activity android:name=".two.PostListActivity" />
        <activity android:name=".two.CommentActivity" />
        <activity android:name=".three.NewsActivity" />
        <activity
            android:name=".one.LocationActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".one.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>